
h1 {
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    width: 25%;
    color:white;
}

div {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

mat-card {
    margin-top:1%;
    background-color: black;
    color: white;
    height: 300px;
    width: 200px;
    border-radius: 25px;
    
    
}



mat-card-title {
   
    height: 40px;

    
}

img {
    height: 50%;
}






