
  <mat-card class="css">
    <mat-card-header><img style="width:40%;  border-radius:15px  " src="https://us.123rf.com/450wm/martialred/martialred1608/martialred160800020/61263273-icona-piatto-account-utente-maschio-profilo-cerchio-per-le-applicazioni-e-siti-web.jpg?ver=6" alt=""></mat-card-header>
    <h1>PROFILO</h1>
    {{utente}}
    {{use}}
    <button href="#" routerLink="/fatture" routerLinkActive="router-link-active" >Fatture</button>
    <div *ngFor="let fatture of listF">


    </div>
  </mat-card>
<mat-card class="css">
  <ul *ngFor="let user of prs">
    <li>{{prs.user.firstname}}</li>
  </ul>
</mat-card>


