/* *{
  color: rgb(0, 0, 0);
  width: 20rem;
  height: 20rem;
  text-align: center;
 margin: 0rem auto;
 background-color: rgba(240, 248, 255, 0.763);
} */


.gen{
  width: 60%;
  margin: 0 auto;
}
.css {
  width: 20%;
  color: black;
  background-color: rgba(240, 248, 255, 0.712);
  margin-left: 2rem;
  margin-top: 2rem !important;
  text-align:center;
  width:auto;
  height: auto;
  margin: 0 auto;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  text-decoration: none;


}

.css2 {
  width: 30%;
  color: black;
  background-color: rgba(240, 248, 255, 0.712);
  margin-left: 2rem;
  margin-top: 2rem !important;
  text-align:center;
  width:auto;
  height: auto;
  margin: 0 auto;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  text-decoration: none;

}


