<div id="fatture">
<mat-accordion >
  <mat-expansion-panel hideToggle class="addFatture">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aggiungi una fattura
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card><app-form-fatture></app-form-fatture></mat-card>
  </mat-expansion-panel>
</mat-accordion>



<!-- lista fatture -->
<mat-card class="listaFatture">
  <ul *ngFor="let fattura of fatt">
    <li >
      {{fattura.anno}}--{{fattura.cliente}}--{{fattura.data}}--{{fattura.importo}}--{{fattura.numero}}--{{fattura.stato}}
  <button (click)="removeFatture(fattura.id)">Remove</button>
    </li>
  </ul>
</mat-card>
</div>
