/* *{
 color: rgb(0, 0, 0);
  width: 20rem;
  height: 40rem;
  text-align: center;
 margin: 0rem auto;
 background-color: rgba(240, 248, 255, 0.763);
} */
.listaFatture{
  width: 800px;
  margin: 0 auto;

}
.addFatture{
  margin: 0 auto 2em;
  background-color: #198754;
  width: 50%;
  color: #fff;
}
#fatture{
  padding-top: 2em;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.bord{
  border: 1px solid #d7d7d7;
  border-radius: 1em;
  padding: 2em 1em;
  margin: 1em 0;
}

.register {
  background-color: aliceblue;

}
.modify {
  margin-top: 0;
  width: 35%;
  margin: 0 auto;
}
