<div id="fatture">
<mat-accordion >
  <mat-expansion-panel hideToggle class="addFatture">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aggiungi una fattura
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card><app-form-fatture></app-form-fatture></mat-card>
  </mat-expansion-panel>
</mat-accordion>



<!-- lista fatture -->
<mat-card class="listaFatture"*ngFor="let fattura of fatt">
  <ul class="none" >

    <li >
      {{fattura.anno}}--{{fattura.cliente}}--{{fattura.data}}--{{fattura.importo}}--{{fattura.numero}}--{{fattura.stato}}
  <mat-card-actions><button (click)="removeFatture(fattura.id)">Remove</button>
  <button mat-button (click)="modifyF(fattura.id)">modifica</button></mat-card-actions>
    </li>
  </ul>
</mat-card>
</div>


<!-- ------------------------------------------------- -->

 <div class="modify" *ngIf="cambio === true" >

            <div class="modify register">
                <h1>Modifica</h1>

                <form [formGroup]="RegisterFormGroup" class="register" #f="ngForm" (ngSubmit)="modify()">

                    <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Anno</mat-label>
                    <input matInput type="text" formControlName="anno" class="form-control" placeholder="Insert anno" required>
                    <span class="text-danger" *ngIf="RegisterFormGroup.controls['anno'].dirty && RegisterFormGroup.hasError('required', 'anno')">*L'username è obbligatorio!</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Clienti</mat-label>
                    <input matInput type="text" formControlName="cliente" class="form-control" placeholder="Insert cliente" required>
                    <span class="text-danger" *ngIf="RegisterFormGroup.controls['cliente'].dirty && RegisterFormGroup.hasError('required', 'cliente')">*L'username è obbligatorio!</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Data</mat-label>
                    <input matInput type="email" formControlName="data" class="form-control" placeholder="Insert data" required>
                    <span class="text-danger" *ngIf="RegisterFormGroup.controls['data'].dirty && RegisterFormGroup.hasError('required', 'data')">*L'username è obbligatorio!</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>importo</mat-label>
                    <input matInput type="text" formControlName="importo" class="form-control" placeholder="Insert importo" required>
                    <span class="text-danger" *ngIf="RegisterFormGroup.controls['importo'].dirty && RegisterFormGroup.hasError('required', 'importo')">*L'username è obbligatorio!</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>numero</mat-label>
                    <input matInput type="text" formControlName="numero" class="form-control" placeholder="Insert numero" required>
                    <span class="text-danger" *ngIf="RegisterFormGroup.controls['numero'].dirty && RegisterFormGroup.hasError('required', 'numero')">*L'username è obbligatorio!</span>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>stato</mat-label>
                    <input matInput type="text" formControlName="stato" class="form-control" placeholder="Insert stato" required>
                    <span class="text-danger" *ngIf="RegisterFormGroup.controls['stato'].dirty && RegisterFormGroup.hasError('required', 'stato')">*L'username è obbligatorio!</span>
                  </mat-form-field>
                  <button mat-button color="accent" [disabled]="!RegisterFormGroup.valid" type="submit" style="width : 10em; height: 3em;">Submit</button>
                  <button mat-button (click)="close()">Close</button>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="error">
                  {{error}}
                </div>
                </form>


         <!-- <button mat-button (click)="update()">Update</button> -->

        </div>

              </div>

        <div *ngIf="cambio2=== true">

            <div class="modify">
                <h1>Are you sure you wish to remove this User?</h1>
                <!-- <button (click)="remove()">Yes, Remove</button> -->
                <button  (click)="close()">Close</button>
            </div>
        </div>

