<form #f="ngForm" (ngSubmit)="invia()">

<div>
  <h1>REGISTER</h1>
  <p>

  <mat-form-field appearance="legacy">
    <mat-label for="username">Username</mat-label>
    <input ngModel name="username" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>1</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label for="email">Email</mat-label>
    <input type="email"  id="email" ngModel name="email" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>2</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label for="password">Password</mat-label>
   <input [type]="hide ? 'password' : 'text'" ngModel name="password" id="password" matInput placeholder="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    <mat-hint>3</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label for="firstname">Firstname</mat-label>
    <input ngModel name="firstname" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>4</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label for="lastname">Lastname</mat-label>
    <input ngModel name="lastname" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>5</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label for="role">Role</mat-label>
    <input ngModel name="role" matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <button mat-button type="submit" class="btn btn-primary w-100">Submit</button>
</p>
<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
</div>
</form>
