<div class="container">
  <div class="row">
    <div class="col px-0">
      <a [routerLink]="['/aboutus']" routerLinkActive="router-link-active">
        <mat-card id="due" class="mat-card mat-focus-indicator div1 ">
          <mat-card-header class="mat-card-header">
            <div class="mat-card-header-text">
              <mat-card-title _ngcontent-fbi-c108="" class="mat-card-title"
                ><h1>Utenti</h1>
              </mat-card-title>
            </div></mat-card-header
          >
          <mat-card-content class="mat-card-content"> </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col px-0">
      <a [routerLink]="['/fatture']" routerLinkActive="router-link-active"
        ><mat-card id="due2" class="mat-card mat-focus-indicator"
          ><mat-card-header class="mat-card-header"
            ><div class="mat-card-header-text">
              <mat-card-title _ngcontent-fbi-c108="" class="mat-card-title"
                ><h1>Fatture</h1></mat-card-title
              >
            </div></mat-card-header
          ><mat-card-content
            class="mat-card-content"
          ></mat-card-content></mat-card
      ></a>
    </div>
    <div class="col px-0">
      <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
        <mat-card id="due3" class="mat-card mat-focus-indicator">
          <mat-card-header class="mat-card-header">
            <div class="mat-card-header-text">
              <mat-card-title _ngcontent-fbi-c108="" class="mat-card-title"
                ><h1>Contact</h1></mat-card-title
              >
            </div></mat-card-header
          ><mat-card-content class="mat-card-content"> </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
