
.bottoni{
  float: left;
}
button {
  background-color: rgba(28, 99, 154, 0.889);
  border-radius: 30px;
  /* margin-left: 8rem; */
margin: 0 auto;
width: auto;
  color: white;
  display:flex;
  flex-direction: column;
  margin-left:  0;
  margin-top: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-left: 1.2rem;
  box-shadow: 1px 1px 1px 1px aliceblue;
}

button:hover {
  transform:scale(1.2);
}
h1 {
  color: white;
margin-left: 1.2rem;

}

a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;

}

a:visited {
  color: white;
  text-decoration: none;
}

div{
  margin-top: 3rem;
}

 .ciao1 {
   text-align: center;
  width:20rem;
  margin-left: 0 auto;
  align-items: center;
}

mat-card.ciao1 {
  text-align: center;
  width:20rem;
  margin-left: 0 auto;

}
#logout{
  background-color: #b72525;
}
