
<div class="bottoni">
  <div class="title"><h1 style="margin-bottom: 2rem;">AngularBW</h1></div>
<button mat-button color="primary"><a class="active" href="#" routerLink="login">Login</a></button>
<button mat-button color="primary"><a class="active" href="#" routerLink="/register">Register</a></button>
<button mat-button color="primary"><a class="active" href="#" routerLink="contact">Contact</a></button>
<button mat-button color="primary"><a class="active" href="#" routerLink="aboutus">AboutUs</a></button>
<button mat-button color="primary"><a class="active" href="#" routerLink="profile">MyProfile</a></button>
<button mat-button color="primary"><a class="active" href="#" routerLink="login">LOGOUT</a></button>
<button mat-button color="primary"><a class="active" href="#" routerLink="home">Home</a></button>
<button mat-button color="primary"><a  class="active" href="#" routerLink="fatture">Fatture</a></button>
</div>
