/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background: url("https://img.freepik.com/premium-vector/abstract-technology-chip-processor-background-circuit-board-html-code-background_115579-1225.jpg?w=2000");
background-size:cover ;
background-repeat: no-repeat;
height: auto;}

p{
  font-size: 5rem;
}



