
mat-grid-tile{
  color: rgb(0, 0, 0);
  width: 10rem;
  height: 4rem;
  text-align:center;
  margin: 0rem 35em;
  background-color: rgba(240, 248, 255, 0.764);
}


mat-card{
  color: rgb(0, 0, 0);
  width: 20rem;
  height: auto;
  text-align:center;
  margin: 6rem auto;
  overflow: hidden;
  background-color: rgba(240, 248, 255, 0.862);
}


mat-form-field{
  color: rgb(0, 0, 0);
  width: 22rem;
  height: 6rem;
  text-align:center;
  margin-left:63rem;
  margin-top: 15rem;
  background-color: rgba(240, 248, 255, 0.862);
}
