
<!-- <mat-grid-list cols="3" rowHeight="2em">
 -->
  <h2>
    <mat-grid-tile  *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
   {{tile.text}}
    </mat-grid-tile>
  </h2>
<!-- </mat-grid-list>
 -->
 <br>

<mat-card *ngFor="let tile of Commenti">

<p ><b>{{customer}}:</b>

</p>


 </mat-card>


 <form class="register" #f="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Commenti</mat-label>
    <input matInput type="text"ngModel name="Commenti"  placeholder="Inserisci qui il tuo commento">
  <button mat-button color="accent" type="submit">Pubblica</button>
</mat-form-field>

</form>










<!--  <mat-form-field  class="example-full-width" appearance="fill" [formGroup]="Commenti"  #f="ngForm"       (ngSubmit)="Commenti()">
  <mat-label>Leave a comment</mat-label>
  <textarea formControlName="comment" matInput placeholder="Ex. It makes me feel..."></textarea>
  <button mat-button>Pubblica</button>

</mat-form-field>
 -->

                        <!--riga28 [formGroup]="Commenti"              #f="ngForm"       (ngSubmit)="modify()" -->
